Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, prow: flakey-run

prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml:

presubmits:
  istio/test-infra:

  - name: build-test
    branches:
      - ^master$
      - ^release-1.*$
    always_run: true
    decorate: true
    path_alias: istio.io/test-infra
    spec:
      containers:
      - image: golang:1.12.7
        command:
        - go
        - test
        - ./...
        env:
        - name: GO111MODULE
          value: "on"
      nodeSelector:
        testing: build-pool

  - name: pull-test-infra-prow-checkconfig
    branches:
      - ^master$
      - ^release-1.*$
    decorate: true
    run_if_changed: '^prow/(config|plugins|cluster/jobs/.*)\.yaml$'
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
        command:
        - /checkconfig
        args:
        - --config-path=prow/config.yaml
        - --job-config-path=prow/cluster/jobs
        - --plugin-config=prow/plugins.yaml
        - --strict
        - --exclude-warning=mismatched-tide
        - --exclude-warning=unknown-fields
        - --exclude-warning=non-decorated-jobs

  - name: lint-check
    branches:
      - ^master$
      - ^release-1.*$
    always_run: true
    decorate: true
    path_alias: istio.io/test-infra
    spec:
      containers:
      - image: gcr.io/istio-testing/test-infra-builder:v20190722-4bb1092b
        resources:
          requests:
            memory: "512Mi"
            cpu: "1000m"
          limits:
            memory: "24Gi"
            cpu: "4000m"
        command:
        - entrypoint
        - make
        - lint
        env:
        - name: GO111MODULE
          value: "on"
      nodeSelector:
        testing: build-pool

  - name: generate-check
    branches:
      - ^master$
      - ^release-1.*$
    always_run: true
    decorate: true
    path_alias: istio.io/test-infra
    spec:
      containers:
        - image: golang:1.12.7
          resources:
            requests:
              memory: "512Mi"
              cpu: "1000m"
            limits:
              memory: "24Gi"
              cpu: "4000m"
          command:
            - make
            - check-config
          env:
          - name: GO111MODULE
            value: "on"
      nodeSelector:
        testing: build-pool

  - name: flakey-run
    branches:
      - ^master$
      - ^release-1.*$
    context: "prow: flakey-run"
    run_if_changed: "flakeyTest/.*"
    optional: true
    decorate: true
    path_alias: istio.io/test-infra
    labels:
      preset-service-account: "true"
    spec:
      containers:
      - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
        # TODO(fejta): not true, remove privileged mode unless actually required
        # Bazel needs privileged mode in order to sandbox builds.
        securityContext:
          privileged: true
        resources:
          requests:
            memory: "512Mi"
            cpu: "1000m"
          limits:
            memory: "24Gi"
            cpu: "1000m"
        command:
        - entrypoint
        - flakeyTest/daily-flakey-test.sh
      nodeSelector:
        testing: test-pool

Enable all linters on this repo. (#1866)
  Makefile.core.mk
  boskos/README.md
  boskos/cmd/mason/Dockerfile
  docker/istio/istio/Dockerfile
  docker/istio/test-flakey/Dockerfile
  docker/istio/test-flakey/README.md
  docker/prowbazel/Dockerfile
  docker/prowbazel/README.md
  flakeyTest/README.md
  prow/README.md
  prow/cluster/cert-manager/README.md
  prow/config/README.md
  scripts/README.md
  sites/istio.io/gcsweb/README.md
  sites/kube-cert-manager/README.md
  toolbox/ci2gubernator/README.md
  toolbox/errorfinder/README.md
  toolbox/githubctl/README.md
  toolbox/timecomparer/README.md
Due: prow: flakey-run

Use latest dind image (#1844)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/config/jobs/cni.yaml
Due: pull-test-infra-prow-checkconfig

Update this repo's dependencies (#1999)
  go.mod
  go.sum
  licenses/cloud.google.com/go/bigquery/LICENSE
  licenses/cloud.google.com/go/pubsub/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/contrib.go.opencensus.io/exporter/prometheus/LICENSE
  licenses/contrib.go.opencensus.io/exporter/stackdriver/LICENSE
  licenses/dmitri.shuralyov.com/gpu/mtl/LICENSE
  licenses/github.com/census-instrumentation/opencensus-proto/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/go-gl/glfw/LICENSE
  licenses/github.com/google/addlicense/LICENSE
  licenses/github.com/google/renameio/LICENSE
  licenses/golang.org/x/mod/LICENSE
  licenses/golang.org/x/xerrors/LICENSE
  licenses/knative.dev/pkg/LICENSE
  prow/cmd/genjobs/genjobs.go
  prow/config/config_test.go
  prow/config/generate.go
Due: none

Get more repos on the latest container. (#1992)
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/tests.yaml
Due: pull-test-infra-prow-checkconfig

Drop Boskos cluster amount to 20 (from 50) (#1997)
  boskos/resources.yaml
Due: none

Move istio/operator and istio/release-builder to latest container. (#1994)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/release-builder.yaml
Due: pull-test-infra-prow-checkconfig

All istio jobs are on kind now (#1998)
  licenses/k8s.io/kubernetes/License
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Update prowbazel to run as "root" user (#2001)
  docker/prowbazel/Dockerfile
  docker/prowbazel/Makefile
Due: none

set proper start time for three perf related jobs (#2005)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Fix githubctl retest (#1983)
  toolbox/githubctl/main.go
Due: none

Move istio/api, istio/pkg, and istio/bots to latest container. (#1990)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/pkg.yaml
Due: pull-test-infra-prow-checkconfig

Update perf benchmark periodic job yaml (#2003)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Verify that the release scripts work in istio/proxy presubmits. (#1993)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Due: pull-test-infra-prow-checkconfig

Remove manifest-apply from operator (#1982)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.4.gen.yaml
  prow/config/jobs/operator-1.4.yaml
  prow/config/jobs/operator.yaml
Due: pull-test-infra-prow-checkconfig

Bump prow from v20191023-5d6c24c6f to v20191024-64518f5f8 (#1989)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Add optional gencheck jobs on all repos with Go code. (#1987)
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig

Move the installer repo to the latest container. (#1996)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig

Update repos with latest build tools container
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig

Update repos with latest build tools container (#2166)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig

Bump prow from v20191127-0cc88ec7d to v20191128-48349ea19
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Bump prow from v20191127-0cc88ec7d to v20191128-48349ea19 (#2168)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_private_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Override envoy in istio-private/istio tests
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.4.gen.yaml
  prow/genjobs/gen-private-jobs.sh
Due: pull-test-infra-prow-checkconfig

Override envoy in istio-private/istio tests (#2169)
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/istio/istio-private.istio.release-1.4.gen.yaml
  prow/genjobs/gen-private-jobs.sh
Due: pull-test-infra-prow-checkconfig

Add CRI dashboard to testgrid
  testgrid/default.yaml
  testgrid/istio.gen.yaml
Due: none

Add CRI dashboard to testgrid (#2170)
  testgrid/default.yaml
  testgrid/istio.gen.yaml
Due: none

update upgrade job
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Add Transfigure Presubmit
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
Due: pull-test-infra-prow-checkconfig

Authentikos: update docs and tag latest image (#2162)
  authentikos/Dockerfile
  authentikos/Makefile
  authentikos/README.md
Due: none

update upgrade job (#2173)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Update repos with latest build tools container
  prow/cluster/jobs/istio-private/istio/istio-private.istio.master.gen.yaml
  prow/cluster/jobs/istio-private/proxy/istio-private.proxy.master.gen.yaml
  prow/cluster/jobs/istio-private/release-builder/istio-private.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/cri/istio.cri.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/proxy.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: pull-test-infra-prow-checkconfig

fix yaml format
  prow/config/jobs/api.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/cri.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tools.yaml
Due: none

fix yaml format
  prow/config/jobs/bots.yaml
Due: none

Fix typo of script name
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Fix typo of script name (#2177)
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Update ci container for api repo
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig

Update ci container for api repo (#2178)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/config/jobs/api.yaml
Due: pull-test-infra-prow-checkconfig

Allow override-selector to remove a node selector
  prow/genjobs/cmd/genjobs/main.go
Due: none

Allow override-selector to remove a node selector (#2179)
  prow/genjobs/cmd/genjobs/main.go
Due: none
