Repository istio/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, prow: flakey-run

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

prow: flakey-run:
  optional: true
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/istio-testing/test-flakey-builder:v20190611-65b6bb45
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 1000m
        limits:
  ...

Preserve Kube context on Prow "deploy" via Makefile (#1769)
  prow/Makefile
Due: none

Disable integration test for installer
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Use the build-tools container where it makes sense.
  Makefile.core.mk
  Makefile.overrides.mk
  go.mod
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/config/jobs/test-infra.yaml
  scripts/check_license.sh
  scripts/fmt.sh
  scripts/linters.sh
  scripts/run_gobindata.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Due: pull-test-infra-prow-checkconfig

Attempt at dealing with configurator.
  .golangci.yml
  Makefile.core.mk
  go.mod
  go.sum
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  scripts/check_license.sh
  scripts/run_golangci.sh
Due: pull-test-infra-prow-checkconfig

Use the build-tools container where it makes sense. (#1777)
  .golangci.yml
  Makefile.core.mk
  Makefile.overrides.mk
  go.mod
  go.sum
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/config/jobs/test-infra.yaml
  scripts/fmt.sh
  scripts/linters.sh
  scripts/run_gobindata.sh
  scripts/run_gofmt.sh
Due: pull-test-infra-prow-checkconfig

Add optional jobs for CNI
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/config.yaml
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/cni.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig

Add optional jobs for CNI (#1780)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/config.yaml
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/cni.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig

Fork release-1.3 for istio jobs
  prow/config/jobs/istio.1.3.yaml
Due: none

Run go mod tidy
  go.mod
Due: none

Fork release-1.3 for istio jobs (#1785)
  prow/config/jobs/istio.1.3.yaml
Due: none

Run go mod tidy (#1786)
  go.mod
Due: none

Cleanup unused dockerfile
  docker/README.md
  docker/istio/test-infra/Dockerfile
  docker/istio/test-infra/Makefile
  docker/istio/test-infra/install.sh
Due: none

Use golang 1.13 for builder
  docker/istio/shared/tools/install-golang.sh
Due: none

Use new golang1.13 image
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Cleanup unused dockerfile (#1787)
  docker/README.md
  docker/istio/test-infra/Dockerfile
  docker/istio/test-infra/Makefile
  docker/istio/test-infra/install.sh
Due: none

Enable more linters.
  Makefile.core.mk
  boskos/cmd/mason_client/example.sh
  docker/istio/istio/install.sh
  docker/istio/shared/prow-runner.sh
  docker/istio/shared/tools/install-bazel.sh
  docker/istio/shared/tools/install-clang.sh
  docker/istio/shared/tools/install-docker.sh
  docker/istio/shared/tools/install-gcloud.sh
  docker/istio/shared/tools/install-golang.sh
  docker/istio/shared/tools/install-helm.sh
  docker/istio/shared/tools/install-jars.sh
  docker/istio/shared/tools/install-java.sh
  docker/istio/shared/tools/install-kubectl.sh
  docker/istio/shared/tools/install-libcxx.sh
  docker/istio/shared/tools/install-protoc.sh
  docker/istio/shared/tools/install-yamllint.sh
  docker/istio/test-flakey/install.sh
  flakeyTest/daily-flakey-test.sh
  flakeyTest/readPastJunitCommand.sh
  flakeyTest/removeTempFolderCommand.sh
  flakeyTest/testCommand.sh
  go.mod
  prow/bump.sh
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio/istio/istio.istio.prow-staging.yaml
  prow/cluster/jobs/istio/istio/update-prow-staging.sh
  prow/recreate_prow_configmaps.py
  rbe/install-istio-testing.sh
  scripts/bazel_to_go.py
  scripts/check_dockerfiles.sh
  scripts/check_license.sh
  scripts/deps_to_bazel.py
  scripts/run_golangci.sh
  scripts/set-boskos-project.sh
  scripts/use_bazel_go.sh
  toolbox/metrics/generate.sh
Due: pull-test-infra-prow-checkconfig, prow: flakey-run

postsubmit for deploying boskos and updating boskos config
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update to golang 1.13 (#1788)
  docker/istio/shared/tools/install-golang.sh
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Revert "Update to golang 1.13 (#1788)"
  docker/istio/shared/tools/install-golang.sh
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Revert "Update to golang 1.13 (#1788)" (#1792)
  docker/istio/shared/tools/install-golang.sh
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Delete integration race test
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Delete integration race test (#1793)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Due: pull-test-infra-prow-checkconfig

Enable more linters. (#1789)
  Makefile.core.mk
  boskos/cmd/mason_client/example.sh
  docker/istio/istio/install.sh
  docker/istio/shared/prow-runner.sh
  docker/istio/shared/tools/install-bazel.sh
  docker/istio/shared/tools/install-clang.sh
  docker/istio/shared/tools/install-docker.sh
  docker/istio/shared/tools/install-gcloud.sh
  docker/istio/shared/tools/install-golang.sh
  docker/istio/shared/tools/install-helm.sh
  docker/istio/shared/tools/install-jars.sh
  docker/istio/shared/tools/install-java.sh
  docker/istio/shared/tools/install-kubectl.sh
  docker/istio/shared/tools/install-libcxx.sh
  docker/istio/shared/tools/install-protoc.sh
  docker/istio/shared/tools/install-yamllint.sh
  docker/istio/test-flakey/install.sh
  flakeyTest/daily-flakey-test.sh
  flakeyTest/readPastJunitCommand.sh
  flakeyTest/removeTempFolderCommand.sh
  flakeyTest/testCommand.sh
  go.mod
  prow/bump.sh
  prow/cluster/jobs/all-periodics.yaml
  prow/cluster/jobs/istio/istio/istio.istio.prow-staging.yaml
  prow/cluster/jobs/istio/istio/update-prow-staging.sh
  prow/recreate_prow_configmaps.py
  rbe/install-istio-testing.sh
  scripts/bazel_to_go.py
  scripts/check_dockerfiles.sh
  scripts/check_license.sh
  scripts/deps_to_bazel.py
  scripts/run_golangci.sh
  scripts/set-boskos-project.sh
  scripts/use_bazel_go.sh
  toolbox/metrics/generate.sh
Due: pull-test-infra-prow-checkconfig, prow: flakey-run

postsubmit for deploying boskos and updating boskos config (#1791)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Deploy postsubmit job cleanup / simplification
  boskos/Makefile
  prow/Makefile
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Create "Makefile.gcloud.mk" and add common logic
  boskos/Makefile
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Due: pull-test-infra-prow-checkconfig

Deploy postsubmit job cleanup / simplification (#1794)
  boskos/Makefile
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Make lintmodern_cni required, and require classic lint_cni.
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/config/jobs/cni.yaml
Due: pull-test-infra-prow-checkconfig

Fix codeowners
  CODEOWNERS
Due: none

Make lintmodern_cni required, and require classic lint_cni. (#1790)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.3.gen.yaml
  prow/config/jobs/cni.yaml
Due: pull-test-infra-prow-checkconfig

Fix codeowners (#1795)
  CODEOWNERS
Due: none

Add "boskos-admin" to mason rather than using default serviceaccount
  boskos/cluster/mason-deployment.yaml
Due: none

Add "boskos-admin" to mason rather than using default serviceaccount (#1796)
  boskos/cluster/mason-deployment.yaml
Due: none

Enable script linting.
  Makefile.core.mk
  boskos/cmd/mason_client/example.sh
  docker/istio/shared/tools/install-kubectl.sh
  docker/prowbazel/entrypoint
  flakeyTest/daily-flakey-test.sh
  flakeyTest/readPastJunitCommand.sh
  flakeyTest/removeTempFolderCommand.sh
  flakeyTest/testCommand.sh
  prow/build-test.sh
  prow/gcr_cleanup_istio_testing.sh
  prow/pj-on-kind.sh
  prow/test-infra-presubmit.sh
  rbe/install-istio-testing.sh
  scripts/all-utilities
  scripts/cleanup-GKE
  scripts/cleanup-cache
  scripts/linux-install-software
  scripts/set-boskos-project.sh
  scripts/tools/linux-install-bazel
  scripts/tools/linux-install-clang
  scripts/tools/linux-install-cmake
  scripts/tools/linux-install-docker
  scripts/tools/linux-install-gcc
  scripts/tools/linux-install-gcloud
  scripts/tools/linux-install-golang
  scripts/tools/linux-install-helm
  scripts/tools/linux-install-ninja
  scripts/tools/linux-install-protoc
  scripts/tools/linux-install-repo
  scripts/tools/linux-install-wrk
  scripts/update-e2e-cluster.sh
  scripts/use_bazel_go.sh
  toolbox/metrics/generate.sh
Due: prow: flakey-run

Enable script linting. (#1797)
  Makefile.core.mk
  boskos/cmd/mason_client/example.sh
  docker/istio/shared/tools/install-kubectl.sh
  docker/prowbazel/entrypoint
  flakeyTest/daily-flakey-test.sh
  flakeyTest/readPastJunitCommand.sh
  flakeyTest/removeTempFolderCommand.sh
  flakeyTest/testCommand.sh
  prow/build-test.sh
  prow/gcr_cleanup_istio_testing.sh
  prow/pj-on-kind.sh
  prow/test-infra-presubmit.sh
  rbe/install-istio-testing.sh
  scripts/all-utilities
  scripts/cleanup-GKE
  scripts/cleanup-cache
  scripts/linux-install-software
  scripts/set-boskos-project.sh
  scripts/tools/linux-install-bazel
  scripts/tools/linux-install-clang
  scripts/tools/linux-install-cmake
  scripts/tools/linux-install-docker
  scripts/tools/linux-install-gcc
  scripts/tools/linux-install-gcloud
  scripts/tools/linux-install-golang
  scripts/tools/linux-install-helm
  scripts/tools/linux-install-ninja
  scripts/tools/linux-install-protoc
  scripts/tools/linux-install-repo
  scripts/tools/linux-install-wrk
  scripts/update-e2e-cluster.sh
  scripts/use_bazel_go.sh
  toolbox/metrics/generate.sh
Due: prow: flakey-run

Add a container-based lint job for installer.
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig

Add a container-based lint job for installer. (#1798)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Due: pull-test-infra-prow-checkconfig

Update istio-releases tests to have unique job names
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.0.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.1.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.2.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.3.yaml
  testgrid/default.yaml
  testgrid/istio.gen.yaml
Due: pull-test-infra-prow-checkconfig

Update istio-releases tests to have unique job names (#1799)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.0.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.1.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.2.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.3.yaml
  testgrid/default.yaml
  testgrid/istio.gen.yaml
Due: pull-test-infra-prow-checkconfig

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  prow: flakey-run: any of: flakeyTest/.*
