Repository istio-releases/pipeline: changes, and which Prow jobs are due for each by the changed paths.
All: release-daily, perf-for-daily-release, release-monthly

Path conditions:
  release-daily: any of: daily/.*
  perf-for-daily-release: any of: daily/.*
  release-monthly: any of: monthly/.*

release_1559380613181961974 (#685)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467015191920430
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467014525550135
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467015808912676
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467016302834045
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467015808912676 (#691)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559467016302834045 (#690)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553413101860905
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553414450058908
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553414922864612
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553416678148833
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553416678148833 (#695)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559553413101860905 (#693)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559601119026014104
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Fix build_test_presubmit script
  scripts/build_test_presubmit.sh
Due: none

Fix build_test_presubmit script (#697)
  scripts/build_test_presubmit.sh
Due: none

release_1559639817154869564
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559639819231178505
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559639819139204353
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559639820261392620
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559639820261392620 (#701)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559639819231178505 (#700)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Fixing build_and_test
  scripts/build_test_presubmit.sh
Due: none

Create 1.2.rc0
  monthly/release_params.sh
Due: release-monthly

Create 1.2.rc0 (#703)
  monthly/release_params.sh
Due: release-monthly

release_1559726160214061687
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726160851617708
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726160882737871
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726161125264007
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726160851617708 (#707)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726161125264007 (#705)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

release_1559726160882737871 (#706)
  daily/release_params.sh
Due: release-daily, perf-for-daily-release

Build 1.1.8
  monthly/release_params.sh
Due: release-monthly

build release
  scripts/augmented_params.sh
Due: none

Setting up gcr.io/istio-prerelease-testing
  scripts/augmented_params.sh
Due: none

Build 1.1.8 (#708)
  monthly/release_params.sh
Due: release-monthly

Fixing build_and_test (#702)
  scripts/augmented_params.sh
  scripts/build_test_presubmit.sh
Due: none

Trigger daily build to facilitate testing for 1.0.8
  daily/release_params.sh
Due: release-daily, perf-for-daily-release
