Repository istio-releases/pipeline: changes, and which Prow jobs are due for each by the changed paths.
All: release-daily, release-monthly

release-daily:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20181008-db31a9fd
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

release-monthly:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20181008-db31a9fd
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

Update to istio/istio release-1.1 HEAD
  monthly/release_params.sh
Due: release-monthly

Added script to get tools repo for perf testing
  scripts/get_perf_tools.sh
Due: none

Build 1.1.0-snapshot.6 (#308)
  monthly/release_params.sh
Due: release-monthly

Added script to get tools repo for perf testing (#313)
  scripts/get_perf_tools.sh
Due: none

Actually staying in istio.io/istio after getting tools repo
  scripts/get_perf_tools.sh
Due: none

Actually staying in istio.io/istio after getting tools repo (#314)
  scripts/get_perf_tools.sh
Due: none

release_1550135806097444047
  daily/release_params.sh
Due: release-daily

release_1550135807009440691
  daily/release_params.sh
Due: release-daily

release_1550135811478835654
  daily/release_params.sh
Due: release-daily

release_1550135807009440691 (#316)
  daily/release_params.sh
Due: release-daily

release_1550135806097444047 (#315)
  daily/release_params.sh
Due: release-daily

release_1550135811478835654 (#317)
  daily/release_params.sh
Due: release-daily

release_1550222205204427382
  daily/release_params.sh
Due: release-daily

release_1550222207436742003
  daily/release_params.sh
Due: release-daily

release_1550222207203096832
  daily/release_params.sh
Due: release-daily

release_1550222205204427382 (#318)
  daily/release_params.sh
Due: release-daily

release_1550308605061404212
  daily/release_params.sh
Due: release-daily

release_1550308609605879970
  daily/release_params.sh
Due: release-daily

release_1550308608076709682
  daily/release_params.sh
Due: release-daily

release_1550308605061404212 (#321)
  daily/release_params.sh
Due: release-daily

release_1550308609605879970 (#323)
  daily/release_params.sh
Due: release-daily

release_1550395009363426564
  daily/release_params.sh
Due: release-daily

release_1550395010904572926
  daily/release_params.sh
Due: release-daily

release_1550395011589987324
  daily/release_params.sh
Due: release-daily

release_1550395010904572926 (#325)
  daily/release_params.sh
Due: release-daily

release_1550395009363426564 (#324)
  daily/release_params.sh
Due: release-daily

release_1550481406330000191
  daily/release_params.sh
Due: release-daily

release_1550481408103423991
  daily/release_params.sh
Due: release-daily

release_1550481410000030074
  daily/release_params.sh
Due: release-daily

release_1550481408103423991 (#328)
  daily/release_params.sh
Due: release-daily

release_1550567774564577001
  daily/release_params.sh
Due: release-daily

release_1550567774992403311
  daily/release_params.sh
Due: release-daily

release_1550567776058762498
  daily/release_params.sh
Due: release-daily

release_1550567774564577001 (#331)
  daily/release_params.sh
Due: release-daily

Creating rc0
  monthly/release_params.sh
Due: release-monthly

New sha
  monthly/release_params.sh
Due: release-monthly

release_1550654179625243814
  daily/release_params.sh
Due: release-daily

release_1550654180496931864
  daily/release_params.sh
Due: release-daily

Path conditions:
  release-daily: any of: daily/.*
  release-monthly: any of: monthly/.*
