Repository istio-releases/pipeline: changes, and which Prow jobs are due for each by the changed paths.
All: release-daily, release-monthly

release-daily:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20181008-db31a9fd
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

release-monthly:
  decorate: true
  labels:
    preset-release-pipeline: 'true'
  spec:
    nodeSelector:
      testing: build-pool
    containers:
    - image: gcr.io/istio-testing/istio-builder:v20181008-db31a9fd
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
  ...

Adding branch specific param files
  monthly/master/release_params.sh
  monthly/release-1.0/release_params.sh
  monthly/release-1.1/release_params.sh
Due: release-monthly

release_1545086116532537168
  daily/master/release_params.sh
Due: release-daily

Fix minor problem in the trigger script
  scripts/trigger_daily_release.sh
Due: none

release_1545087181602983921
  daily/release-1.0/release_params.sh
Due: release-daily

Remove unneeded file
  daily/release_params.sh
Due: release-daily

release_1545097034070092721
  daily/release-1.0/release_params.sh
Due: release-daily

Fix typo
  scripts/augmented_params.sh
Due: none

MONTHLY 1.1.0-snapshot.4
  monthly/release-1.1/release_params.sh
Due: release-monthly

Disable consistency check for snapshot release
  monthly/release-1.1/release_params.sh
Due: release-monthly

Test build
  daily/master/release_params.sh
Due: release-daily

Test build (#103)
  daily/master/release_params.sh
Due: release-daily

release_1545124570334509180
  daily/release-1.0/release_params.sh
Due: release-daily

release_1545124571082226558
  daily/master/release_params.sh
Due: release-daily

release_1545124577763395158
  daily/release-1.1/release_params.sh
Due: release-daily

release_1545124577763395158 (#106)
  daily/release-1.1/release_params.sh
Due: release-daily

release_1545124570334509180 (#104)
  daily/release-1.0/release_params.sh
Due: release-daily

release_1545124571082226558 (#105)
  daily/master/release_params.sh
Due: release-daily

Restore release-1.0 in istio-releases/pipeline
  daily/master/release_params.sh
  daily/release-1.1/release_params.sh
  daily/release_params.sh
  monthly/master/release_params.sh
  monthly/release-1.1/release_params.sh
  monthly/release_params.sh
Due: release-daily, release-monthly

One more
  scripts/trigger_daily_release.sh
Due: none

Restore release-1.0 in istio-releases/pipeline
  daily/master/release_params.sh
  daily/release-1.0/release_params.sh
  daily/release_params.sh
  monthly/master/release_params.sh
  monthly/release-1.0/release_params.sh
  monthly/release_params.sh
  scripts/trigger_daily_release.sh
Due: release-daily, release-monthly

Restore release branches in istio-releases/pipeline
  daily/release-1.0/release_params.sh
  daily/release-1.1/release_params.sh
  daily/release_params.sh
  monthly/release-1.0/release_params.sh
  monthly/release-1.1/release_params.sh
  monthly/release_params.sh
  scripts/trigger_daily_release.sh
Due: release-daily, release-monthly

release_1545163162414629329
  daily/release_params.sh
Due: release-daily

release_1545163215070984583
  daily/release_params.sh
Due: release-daily

release_1545163241062504377
  daily/release_params.sh
Due: release-daily

release_1545163162414629329 (#107)
  daily/release_params.sh
Due: release-daily

release_1545163215070984583 (#108)
  daily/release_params.sh
Due: release-daily

release_1545163241062504377 (#109)
  daily/release_params.sh
Due: release-daily

Update README.md
  README.md
Due: none

release_1545210970174456757
  daily/release_params.sh
Due: release-daily

release_1545210970770869547
  daily/release_params.sh
Due: release-daily

release_1545210972719209351
  daily/release_params.sh
Due: release-daily

release_1545210970174456757 (#110)
  daily/release_params.sh
Due: release-daily

release_1545210970770869547 (#111)
  daily/release_params.sh
Due: release-daily

release_1545210972719209351 (#112)
  daily/release_params.sh
Due: release-daily

Path conditions:
  release-daily: any of: daily/.*
  release-monthly: any of: monthly/.*
